.padding24 {
  padding: 24px 0;
}

.mb8 {
  margin-bottom: 8px;
}

.heightCalc {
  height: calc(100vh - 300px);
  overflow: hidden;
}

.textCenter {
  text-align: center;
}

.mt4 {
  margin-top: 4px;
}

.flex1 {
  flex: 1;
} 