.albumItem {
  position: relative; 
  border: 1px solid #c4c4c4;
  border-radius: 16px;
  overflow: hidden;
  width: 100%; /* Takes full width of the grid column */
  max-width: 280px; /* Limits max size */
  background: #fff;
  transition: transform 0.2s ease-in-out;
}

.albumItem:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.albumImage {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9; /* Ensures a fixed ratio */
}

.albumCaption {
  color: #536471;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}

.deleteButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s ease;
    z-index: 1; /* Ensure it's above the image */
}
.deleteButton:hover {
    opacity: 1;
    background-color: rgba(220, 53, 69, 0.8); /* Red on hover */
}