.link {
  text-decoration: none;
  color: inherit;
}

.relative {
  position: relative;
}

.minWidth120 {
  min-width: 120px;
}

.justifyFlexStart {
  justify-content: flex-start;
}

.margin8_16 {
  margin: 8px 16px;
}
