.padding24 {
  padding: 24px 0;
}

.marginBottom8 {
  margin-bottom: 8px;
}

.width200 {
  width: 200px;
}

.gridColumnSpan2 {
  grid-column: span 2;
}

.textDecorationNone {
  text-decoration: none;
  color: inherit;
}

.marginTop8 {
  margin-top: 8px;
}
