.container {
  min-height: 100vh;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.heading1 {
  font-size: 6rem;
  margin-bottom: 16px;
}

.heading2 {
  margin-bottom: 16px;
}

.mb24 {
  margin-bottom: 24px;
}
